* {
    font-family: 'Roboto', sans-serif;
}


.hero {
    margin-top: 70px;
    border-radius: 5px;
}

.hero img {
    object-fit: contain;
}

.hero div h6 {
    font-family: 'Akshar', sans-serif;
    font-size: 19px;
    color: #493f73;
    font-style: italic;
}
.hero div h6 span {
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #493f73;
}
.hero div h6 .salud {
    font-family: 'Akshar', sans-serif;
    font-size: 19px;
}
.hero div .oms {
    font-style: normal;
    font-size: 17px;
    color: #493f73;
}

.navbar-brand {
    border-radius: 5px;
    transition: .6s;
    font-weight: bolder;
}
.navbar-brand span {
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}
.navbar-brand img {
    border-radius: 5px;
    width: 55px;
    height: 35px;
}
.navbar-brand:hover {
    background-color: #493f73;
}

.nav-link {
    border-radius: 5px;
    transition: .6s;
}
.nav-link:hover {
    background-color: #493f73;
}
.dropdown-item:hover {
    background-color: #493f73;
}

.important .app {
    border: #493f73 4px solid;
    border-radius: 15px;
    height: 170px;
}

.important i {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px 12px 10px 12px;
    border-radius: 50px 50px 10px 10px;
}
.important .a  i{
    background-color: red;
}
.important .b  i{
    background-color: green;
}
.important .app p {

    margin-top: 10%;
    color: #493f73;
    font-weight: bold;
}
.important .a {
    font-size: 20px;
    font-weight: bolder;
    /* border: red 4px solid ; */
    color: red;
    border-radius: 20px;
    height: 170px;
    transition: .8s;
}
.important .a p, .important .b p {
    margin-top: -10px;
}
.important .b {
    /* border: green 4px solid ; */
    font-weight: bolder;
    font-size: 20px;
    border-radius: 20px;
    color: green;
    height: 170px;
    transition: .8s;
}

.important .a:hover {
    background-color: red;
    color: white;
}
.important .b:hover {
    background-color: green;
    color: white;
}

.cml .contenedor {
    display: flex;
    flex-direction: row;
}

.cml iframe {
    border-width: 0ch;
    border-left: #493f73 4px solid;
    border-top: #493f73 4px solid;
    border-bottom: #493f73 4px solid;
    border-radius: 5px 0px 0px 5px;
}

.cml .a {
    display: flex;
    justify-content: end;
}

.cml .b .btn {
        background-color: #493f73;
        color: white;
        border-radius: 5px;
}

.cml .b {
    margin-left: -12px;
    display:flex;
    flex-direction: column;
    border-top: solid 4px #493f73;
    border-right: solid 4px #493f73;
    border-bottom: solid 4px #493f73;
    border-radius: 0px 5px 5px 0px;

}
.cml .b h3{
    color: #493f73;
    font-weight: bold;
}

.cml .b .btn {
    font-weight: bold;
    background-color: white;
    color: #493f73;
    border: 2px solid #493f73
}
.cml .b .btn:hover {
    background-color: #493f73;
    color: white;
}

.campaign h4 {
    color: #493f73;
}

.card img {
    margin: auto;
    object-fit: contain;
    width: 410px;
    height: 200px;
}

.card .btn {
    background-color: white;
    color: #493f73;
    border: 2px solid #493f73;
}
.card .btn:hover {
    background-color: #493f73;
    color: white;
    border: 2px solid #493f73;
}


.legal div{
    display: flex;
    justify-content: space-between;
}

.legal .minsal{
    width: 150px;
    height: 60px;
    margin-top: 10px;
}
.legal .ospsip{
    width: 180px;
    height: 90px;
}
.legal .sss{
    width: 180px;
    height: 70px;
}

footer p {
    font-size: 12px;
    color: white;
    margin: auto;
}


/* config bootstrap  */
input:focus, textarea:focus, a:focus button:focus select:focus, select, input.form-control:focus, textarea.form-control:focus, button.navbar-toggler:focus, a.btn:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;
}



@media screen and (min-width:250px) and (max-width:550px) {
    
    .legal div {
        flex-direction: column;
        text-align: center;
    }
    .legal .minsal{
        width: 130px;
        height: 40px;
    }
    .legal .ospsip{
        width: 150px;
        height: 60px;
    }
    .legal .sss{
        width: 150px;
        height: 50px;
    }
    
    footer p {
        font-size: 10px;
        color: white;
        margin: auto;
    }
    .hero div h6 {
        font-family: 'Akshar', sans-serif;
        font-size: 15px;
        color: #493f73;
    }
    .hero div h6 span {
        font-family: 'Akshar', sans-serif;
        font-size: 19px;
        color: #493f73;
    }
    .hero div h6 .salud {
        font-family: 'Akshar', sans-serif;
        font-size: 15px;
        text-decoration: underline;
    }
    .hero div .oms {
        font-size: 12px;
        color: #493f73;
    }

    .card img {
        margin: auto;
        object-fit: cover;
        width: 150px;
        height: 100px;
    }
    .card-title {
        font-size: 17px;
    }
    .important .a, .important .b {
        margin-top: 15px;
    }

    .cml .contenedor {
        display: flex;
        flex-direction: column;
    }

    .cml iframe {
        border-width: 0ch;
        border-left: #493f73 4px solid;
        border-top: #493f73 4px solid;
        border-right: #493f73 4px solid;
        border-bottom: none;
        border-radius: 5px 5px 0px 0px;
    }
    
    .cml .a {
        display: flex;
        justify-content: end;
    }
    
    .cml .b .btn {
        font-weight: bold;
        background-color: white;
        color: #493f73;
        border: 2px solid #493f73
    }
    .cml .b .btn:hover {
        background-color: #493f73;
        color: white;
    }
    
    .cml .b {
        margin-left: 0px;
        display:flex;
        flex-direction: column;
        border-top: none;
        border-left: solid 4px #493f73;
        border-right: solid 4px #493f73;
        border-bottom: solid 4px #493f73;
        border-radius: 0px 0px 5px 5px;
    
    }
    .cml .b h3{
        font-size: 20px;
        font-weight: bold;
    }


}

@media screen and (min-width:550px) and (max-width:750px) {
    .legal .minsal{
        width: 130px;
        height: 40px;
        margin-top: 10px;
    }
    .legal .ospsip{
        width: 150px;
        height: 60px;
    }
    .legal .sss{
        width: 150px;
        height: 50px;
    }
    
    footer p {
        font-size: 10px;
        color: white;
        margin: auto;
    }

    .hero div h6 {
        font-family: 'Akshar', sans-serif;
        font-size: 15px;
        color: white;
    }
    .hero div h6 span {
        font-family: 'Akshar', sans-serif;
        font-size: 20px;
        color: #493f73;
    }
    .hero div h6 .salud {
        font-family: 'Akshar', sans-serif;
        font-size: 15px;
        text-decoration: underline;
    }
    .hero div .oms {
        font-size: 13px;
        color: #493f73;
    }

    .card img {
        margin: auto;
        object-fit: cover;
        width: 150px;
        height: 100px;
    }
    .card-title {
        font-size: 18px;
    }
    .important .a, .important .b {
        margin-top: 15px;
    }

    .cml .contenedor {
        display: flex;
        flex-direction: column;
    }

    .cml iframe {
        border-width: 0ch;
        border-left: #493f73 4px solid;
        border-top: #493f73 4px solid;
        border-right: #493f73 4px solid;
        border-bottom: none;
        border-radius: 5px 5px 0px 0px;
    }
    
    .cml .a {
        display: flex;
        justify-content: end;
    }
    
    .cml .b .btn {
            background-color: #493f73;
            color: white;
            border-radius: 5px;
    }
    
    .cml .b {
        margin-left: 0px;
        display:flex;
        flex-direction: column;
        border-top: none;
        border-left: solid 4px #493f73;
        border-right: solid 4px #493f73;
        border-bottom: solid 4px #493f73;
        border-radius: 0px 0px 5px 5px;
    
    }
    
}

@media screen and (min-width:750px) and (max-width:950px) {
    .card img {
        margin: auto;
        object-fit: cover;
        width: 150px;
        height: 100px;
    }
    .card-title {
        font-size: 18px;
    }
    .important .a, .important .b {
        margin-top: 15px;
    }
}